.container-plumbing {
    max-width: 100%;
    padding-top:3.5em;
    padding-bottom:3.5em;
    padding-left:6em;
    padding-right: 6em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cardholder {
    display: flex;
    max-width: 100%;
    margin-right: 6em;
    margin-left: 6em;
    justify-content: center;
    gap: 2rem;
    column-gap: 4em;
    flex-direction: row;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    gap: 2rem;
    color: white;
    min-width: 6rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #FB6C00;
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.25);
}


.smb-nav-bar {
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .row {
        display: inline-flex;
        justify-content:center;
        align-items: center;
        column-gap: 4em;
        margin:0;
    }
    .icons {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }
}

h3 {
    color: #008088;
    font-family: "ADLaM Display";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h3-smb {
    color: #008088;
    font-family: "ADLaM Display";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

h4 {
    color: #FFF;
    font-family: "ADLaM Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        row-gap:0.5rem;
    }
    .container-plumbing {
        padding:2em;
    }
    .schedule-service {
    font-size: 1rem;
    }   
    .button-schedule {
        font-size: 1rem;
    }

}
    @media only screen and (max-width: 1050px) {
    .cardholder {
        flex-direction: column;
    }
    .sidebyside {
        flex-direction: column;
        margin:0;
    }
    .text {
        max-width: 60%;
    }
}

.schedule-service {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-height: 4em;
    padding-left: 3em;
    padding-right: 3em;
    height: auto;
    color: #FFF;
    font-family: "ADLaM Display";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.footer {
    background-color: #008088;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 3em;
    margin-bottom: 0;
    height: auto;
    color: #000;
    font-family: "ADLaM Display";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-schedule {
    display: inline-flex;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    background-color: #FB6C00;
    color: #000000;
    font-family: "ADLaM Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition-duration: 0.4s; /* Smooth transition */
    border-style: none;
}

.button-schedule:hover {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    background-color: #AC4A00;
    color: white;
    a {
        color:white;
    }
}