.nav{
background: #5C94FC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position:fixed;
    z-index: 999;
    top:0px;
}

.nav-about{
    background: #E03938;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        position:fixed;
        z-index: 999;
        top:0px;
        .left{
            position: flex;
            justify-content:flex-start;
            width:50%;
        }
        .right{
            display: flex;
            width: 50%;
            justify-content:space-around;
            align-items: center;
            padding-right:5em;
        }
    
}

.hero {
    margin: 8em;
    margin-bottom:0;
}


.grid-parent-about {
    grid-template-columns: 2fr 3fr;
    gap: 3em;
    justify-content: center;
    display: grid;
    margin:auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
} 

.grid-child-about {
    min-height: 30vh;
    height: 100%;
    background-color: #8da4d0;
    position: relative;
}

.about-container {
    padding: 2em;
    background-color: #FFF;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.grid-parent {
    display: grid;
    /*grid-template-columns: 25% 75%;*/
    grid-template-columns: 2fr 2fr;
    gap: 3em;
    display: grid;
    justify-content: center;
    margin:auto;
    width: 100%;
    height: 100%;
    position: relative;
} 

.grid-child {
    min-height: 30vh;
    background-color: #8da4d0;
    position: relative;
}

.grid-child-right {
    min-height: 30vh;
    background-color: #8da4d0;
    position: relative;
    margin-top:-10%;
    .clouds {
        z-index: 0;
        background: magenta;
        display: flex;
        justify-content: center; /* Centers horizontally */
        margin-bottom: -30%;
    }
    .pipes { 
        z-index: 1;
        background: black; 
        display: flex;
        justify-content: center; /* Centers horizontally */
    }
    .blocks-top-right {
        z-index: 2;
        background: pink; 
        display: flex;
        justify-content: end;
        height:94px;
        margin-right: -20%;
        margin-top: 20%;
    }
    .blocks-bottom-left {
        z-index: 2;
        background: pink; 
        display: flex;
        justify-content: start;
    
    }
    .mario {
        z-index: 3;
        display: flex;
        margin-top: -100%;
        justify-content: center;
    }
    .coin {
        z-index: 4;
        display: flex;
        margin-left: 8.5em;
    }
}



a {
    text-decoration: none !important;
    color: white;
  }


html { height: 100%; }
body { min-height: 100%; }

body {
    font-family:"Inter";
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-size: 16px;
    width: 100%
}

.main {
    margin-top: 10em;
    margin-left: 10em;
    margin-right: 10em;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.h1 {
    color: #051F51;
    font-family: "Press Start 2P";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.h2 {
    color: #000;
    font-family: "ADLaM Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2 {
    color: #000;
    font-family: "ADLaM Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

.h3 {
    color: #051F51;
    font-family: "ADLaM Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    background-color: #E03938;
    color: #FFF;
    font-family: "ADLaM Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}