.nav{
    background-color:#5C94FC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 900;
    top:0px;
    position: fixed;
}

.nav-about{
    background: #E03938;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        position:fixed;
        z-index: 999;
        top:0px;
        .left{
            position: flex;
            justify-content:flex-start;
            width:50%;
        }
        .right{
            display: flex;
            width: 50%;
            justify-content:space-around;
            align-items: center;
            padding-right:5em;
        }
    
}

.hero {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* margin-left: 8em; */
    margin-bottom:0;
    margin-top:0;
    .left{
        /* margin-left: 8em; */
        /* width: 50%; */
        padding-left: 8%;


    }
   
}

.sidebyside {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 6em;
    margin-top: 32px;
}

.coins 
{   display: flex;
    justify-content: center;
    align-items: center;
    gap: 30em;
    .left {
        display: flex;
        justify-content: flex-end;
    }
    .right {
        display: flex;
        justify-content: flex-end;
    }
}
 
.title {
    margin-bottom:10px;
}

.about-container {
    padding: 2em;
    background-color: #FFF;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero-parent {
    /*grid-template-columns: 25% 75%;*/
    grid-template-columns: 2fr 2fr;
    gap: 3em;
    display: flex;
    justify-content: center;
    margin: 8em;
    width: 100%;
    height: 100%;
    position: relative;
} 

.hero-child {
    position: relative;
    justify-content: center;
}

a {
    text-decoration: none !important;
    color: white;
  }


html { height: 100%; }
body { min-height: 100%; }

body {
    font-family:"Inter";
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-size: 16px;
    width: 100%;
    overflow-x:hidden;

}

.main {
    margin-top: 10em;
    margin-left: 10em;
    margin-right: 10em;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
a {
    color: white;
    text-decoration: none;
}

a:hover {
  color:#051F51;
  text-decoration: underline;
}

.h1 {
    color: #051F51;
    font-family: "Press Start 2P";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.h2 {
    color: #000;
    font-family: "ADLaM Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2 {
    color: #000;
    font-family: "ADLaM Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.h3 {
    color: #051F51;
    font-family: "ADLaM Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    background-color: #E03938;
    color: #FFF;
    font-family: "ADLaM Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition-duration: 0.4s; /* Smooth transition */
    border-style: none;
}

.button:hover {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    background-color: #B72D2C;
    color: white;
    a {
        color:white;
    }
}

@media only screen and (max-width: 768px) {    
    .h1 {
        font-size: 64px;
    }
    h1 {
        font-size: 64px;
    }
    .hero {
        flex-direction: column;
        margin-top: 6em;
    }
    .h2 {
        font-size: 26px;
    }
    h2 {
        font-size: 26px;
    }
    .sidebyside {
        flex-direction: column;
        margin: auto;
    }
    .ad {
        width:100vh;
    }
    .container {
        padding-top: 2em;
        padding-bottom: 2em;

    }
    .container-plumbing-ad {
        padding: 2em;
    }
}

.mario {
    width: 92vh;
}

.container {
    background-color: white;   
    max-width: 100%;
    padding-top:3.5em;
    padding-bottom:3.5em;
    padding-left:6em;
    padding-right: 6em;
    display: flex;
    flex-direction: column;
}

.container-plumbing-ad {
    background-color: white;   
    max-width: 100%;
    padding-top:3.5em;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-title {
    background-color: white;   
    max-width: 100%;
    padding-left: 6em;
    display: flex;
    flex-direction: column;
}


.container-catchphrases {
    background-color: white;   
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container-red {
    background-color: #BC061F;
    max-width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.container-blue {
    background-color: #5C94FC;
    max-width: 100%;
    padding-left: 6em;
    padding-right: 6em;
    display: flex;
    flex-direction: column;
}

.indent {
    padding-left: auto;
}
